[ req ]
prompt                  = no
distinguished_name      = server
default_bits            = 2048
input_password          = password
output_password         = password

[server]
countryName             = RS
stateOrProvinceName     = Serbia
localityName            = Belgrade
organizationName        = AMRES
emailAddress            = admin@example.org
commonName              = "test.example.org"
